body {
	background-color: #fffae6;
	width: 700px;
	margin: 0px auto;
	font-family: georgia, optima, palatino, verdana, arial, sans-serif;
}

/*
h1 {
	font-family: georgia, optima, palatino, verdana, arial, sans-serif;;
}
*/

input#scoreButton {
	font-size: 20px;
	font-weight: bold;
	height: 60px;
	width: 150px;
}

span.fileLabel {
	font-family: Georgia;
	font-size: 16px;
	font-weight: bold;
}

div#formContainer {
    border: solid 1px;
}

table#bleuTable th {
    text-align: center;
    vertical-align: middle;
}

table#bleuTable td {
    text-align: center;
    vertical-align: middle;
}

table#bleuTable caption {
    font-size: 14px;
}

div.hider { 
    font-size: 12px;
    text-align: right;
    margin: 4px;
}

div#bleuDocPlotsContainer {
    margin: 0px auto;
    overflow: auto;
    white-space: nowrap;
}

div#segDetailContainer {
    margin: 0px auto;
}

td#segDetailHeader {
	font-size: 14px;
	text-align: center;
}

td#segDetailID, td#segDetailRef0, td#segDetailRef1, td#segDetailRef2, td#segDetailRef3, td#segDetailHyp, td#segDetailSrc, td#segDetailEngineTrans {
	font-size: 14px;
    font-family: consolas, courier, fixed, monospace;	
	text-align: left;
	padding: 5px;
}

a.jslink:visited { color: #0000FF;}

